body {
	background: linear-gradient(45deg , gray, white);
	margin: 0px;
	border: 0px;
	font-family: 'Inconsolata', monospace;
}

header {
	width: 100%;
	border: 10px solid transparent;
	box-sizing: border-box;
	position: relative;
	top: 0px;
	display: flex;
}

.header-title {
	background: repeating-linear-gradient(90deg, rgb(188, 223, 230), cyan, rgb(188, 223, 230));
	padding: 30px;
	font-size: 3em;
	text-align: center;
	flex: 1;
}

.links {
	min-width: 300px;
	margin: 10px 10px 0 10px;
	padding: 30px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.links-block {
	background: rgb(188, 223, 230);
	text-align: center;
	line-height: 100px;
	width: 300px;
	height: 100px;
	margin-bottom: 30px;
}

.links-block a {
	display: block;
	width: 100%;
    color: black;
	text-decoration: none;
}

.links-block:hover {
  background: cyan;
  box-shadow: 3px 3px 3px gray;
  animation-name: scaleOnFocus;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scaleOnFocus {
	0% {
		transform: scale(1.0);
	}
	10% {
		transform: scale(1.005);
	}
	20% {
		transform: scale(1.01);
	}
	30% {
		transform: scale(1.015);
	}
	40% {
		transform: scale(1.02);
	}
	50% {
		transform: scale(1.025);
	}
	60% {
		transform: scale(1.03);
	}
	70% {
		transform: scale(1.035);
	}
	80% {
		transform: scale(1.04);
	}
	90% {
		transform: scale(1.045);
	}
	100% {
		transform: scale(1.05);
	}
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.column-1 {
	text-align: center;
	width: 50%;
	padding: 10px;
}

.footer-title {
	font-size: 2em;
	color: black;
}

.column-1 a {
	color: black;
	text-decoration: none;
	line-height: 30px;
}

.column-1 a:hover {
	color: cyan;
	text-decoration: underline;
}
